@model AssistantWeb.Models.User
<div id="register-form">

    <h2>Register</h2>

    <form method="post" action="register">

        <div class="form-group">
           @Html.LabelFor(u => u.FirstName)
           @Html.TextBoxFor(u => u.FirstName, new { @class = "form-control", @type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.LastName)
            @Html.TextBoxFor(u => u.LastName, new { @class = "form-control", @type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.PhoneNumber)
            @Html.TextBoxFor(u => u.PhoneNumber, new { @class = "form-control", @type = "text" })
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.Email)
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type = "email", @placeholder = "example@hotmail.com" })
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            @Html.LabelFor(u => u.Password)
            @Html.TextBoxFor(u => u.Password, new { @class = "form-control", @type = "password" })
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

    <br />
    <br />

    <label>Have an account? login from here</label>
    <button class="btn btn-primary" id="go-to-login">Login</button>
</div>

